.card1 {
  background-color: #ff4d4d;
  padding: 1.5% 20% 1.5% 20%;
}
.textInput {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  font-size: medium;
}
:host ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 0 !important;
  padding: 0;
}
hr {
  border-color: transparent;
  margin-top: 0.5%;
}
.headertext {
  margin-bottom: 1.5%;
  color: white;
  font-weight: 400;
}
.button {
  text-align: right;
  justify-content: flex-end;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent !important;
}
